name: Auto Label

on:
  workflow_call:
    inputs:
      issue_body:
        required: true
        type: string
      issue_number:
        required: true
        type: number

jobs:
  apply-labels:
    runs-on: ubuntu-latest
    steps:
      - name: Apply Labels
        uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          issues: ${{ inputs.issue_number }}
          labels: |
            ${{ contains(inputs.issue_body, '<!-- Form-Type: Bug -->') && 'Type: Bug, Status: New' || '' }}
            ${{ contains(inputs.issue_body, '<!-- Form-Type: Documentation -->') && 'Type: Documentation, Status: New' || '' }}
            ${{ contains(inputs.issue_body, '<!-- Form-Type: Enhancement -->') && 'Type: Enhancement, Status: New' || '' }}
            ${{ contains(inputs.issue_body, '<!-- Form-Type: Localization -->') && 'Type: Localization, Status: New' || '' }}
